body {
  background-color: #a4c3d2;
}

.page-container {
  background-color: white;

  display: block;
  max-width: 700px; /*makes div white part look skinny*/
  margin: 45px 15px auto; /* space around white part*/
  padding: 30px; /*space inside around the container */
  border-radius: 16px;
}

strong {
  /* color: #f65282; */
  color: skyblue;
}

hr {
  opacity: 0.2;
}

.weather-section {
  display: flex; /*  "inline"*/
  justify-content: space-between;
}
