body {
  /* background-color: #a4c3d2; */
  background-color: rgba(164, 195, 210, 0.5);
}

.page-container {
  background-color: white;

  display: block;
  max-width: 700px; /*makes div white part look skinny*/
  margin: 45px 15px auto; /* space around white part*/
  padding: 30px; /*space inside around the container */
  border-radius: 16px;
}

strong {
  /* color: #f65282; */
  color: skyblue;
}

hr {
  opacity: 0.2;
}

.search-input {
  background: #a4c3d2;
  color: black;
  background-color: rgba(164, 195, 210, 0.5); /*fades input background)*/
  border: none;
  border-radius: 3px;
  width: 80%;
  padding: 10px;
}
.search-input::placeholder {
  color: black;
  opacity: 1; /* Keep placeholder text fully visible */
}

.search-button {
  color: white;
  background-color: skyblue;
  border: none;
  border-radius: 3px;

  margin: 10px;
  width: 13%;
  padding: 10px;
}

.weather-section {
  display: flex; /*  "inline"*/
  justify-content: space-between;
}

footer {
  text-align: center;
}
